@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Consolas';
    overflow-x: hidden;
    scroll-behavior: smooth; /* Smooth scrolling as the base */
}


/* Keyframes for animations */
@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-right {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Animation utilities */
.animate-fade-in {
    animation: fade-in 0.5s ease-in-out forwards;
}

.animate-fade-right {
    animation: fade-right 0.5s ease-in-out forwards;
}

/* Opacity utility */
.opacity-0 {
    opacity: 10;
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
    height: 8px; /* Height of the scrollbar for horizontal scrolling */
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5); /* Gray color with low opacity */
    border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7); /* Slightly darker gray when hovered */
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Subtle dark track background */
    border-radius: 10px;
}
